body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;
}